
table.actualName            :${table.actualName}
table.entityPackage         :${table.entityPackage}
table.entityName            :${table.entityName}
table.entityLowerCamel      :${table.entityLowerCamel}
table.exampleName           :${table.exampleName}
table.exampleLowerCamel     :${table.exampleLowerCamel}
table.mapperPackage         :${table.mapperPackage}
table.mapperName            :${table.mapperName}
table.mapperLowerCamel      :${table.mapperLowerCamel}
columns:
#foreach($column in $table.columns)
    column:${column.actualName}
        actualName               :${column.actualName}
        fieldName                :${column.fieldName}
        fieldType                :${column.fieldType}
        getterName               :${column.getterName}
        setterName               :${column.setterName}
        betweenMethod            :${column.betweenMethod}
        notBetweenMethod         :${column.notBetweenMethod}
        equalMethod              :${column.equalMethod}
        notEqualMethod           :${column.notEqualMethod}
        greaterThanMethod        :${column.greaterThanMethod}
        greaterThenOrEqualMethod :${column.greaterThenOrEqualMethod}
        lessThanMethod           :${column.lessThanMethod}
        lessThanOrEqualMethod    :${column.lessThanOrEqualMethod}
        inMethod                 :${column.inMethod}
        notInMethod              :${column.notInMethod}
        likeMethod               :${column.likeMethod}
        notLikeMethod            :${column.notLikeMethod}
        isNullMethod             :${column.isNullMethod}
        notNullMethod            :${column.notNullMethod}
        key-values:
        #foreach($key in $column.keySet())
            key:$key       ->   $!column.get($key)
        #end

#end